<footer class="footer">
  <span class="footer__copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
</footer>

<script type="text/javascript" src="/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>

<!-- scripts that require jquery -->
<script type="text/javascript" src="{{ "js/main.js" | prepend: site.baseurl }}"></script>
