<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover panel-cover--collapsed" style="background-image: url({{ "/images/cover.jpg" | prepend: site.url }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.url }}" title="link to home of {{ site.title }}">
          <img src="{{ "/images/profile.jpg" | prepend: site.url }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>

        <a href="/aboutme.html" title="about me">
          <p class="blog-aboutme">
            {{ site.about_me }}<br/>
          </p>
          <p class="blog-aboutme-larger">
            <i class="icon icon-torso-business"></i>
            <span>About me</span>
          </p>
        </a>

        <hr class="panel-cover__divider">

        <p class="blog-quote">
          "{{ site.quote.text }}"
          <span class="blog-quote-by"> <a href="{{ site.quote.url }}">({{ site.quote.by }})</a></span>
        </p>

        <hr class="panel-cover__divider">

        <div class="navigation-wrapper">

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

            {% if site.author.twitter_username %}
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} on Twitter" target="_blank" onclick="socialLinkEvent('twitter')">
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.facebook_username %}
              <!-- Facebook -->
              <li class="navigation__item">
                <a href="http://fb.me/{{ site.author.facebook_username }}" title="{{ site.author.facebook_username }} on Facebook" target="_blank" onclick="socialLinkEvent('facebook')">
                  <i class="icon icon-social-facebook"></i>
                  <span class="label">Facebook</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.linkedin_username %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank" onclick="socialLinkEvent('linkedin')">
                  <i class="icon icon-social-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.github_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank" onclick="socialLinkEvent('github')">
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.stackoverflow_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="http://stackoverflow.com/users/{{ site.author.stackoverflow_userid }}/{{ site.author.stackoverflow_username }}" title="{{ site.author.stackoverflow_username }} on StackOverflow" target="_blank" onclick="socialLinkEvent('stack-overflow')">
                  <i class="icon icon-social-stack-overflow"></i>
                  <span class="label">StackOverflow</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank" onclick="socialLinkEvent('email')">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            {% endif %}

            <!-- RSS -->
            <li class="navigation__item">
              <a href="{{ "/feed.xml" | prepend: site.url }}" title="Subscribe" target="_blank">
                <i class="icon icon-rss"></i>
                <span class="label">RSS</span>
              </a>
            </li>

            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
